﻿@model capstone_model.vertex

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>vertex</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bridge_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bridge_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.north_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.north_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.north_value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.north_value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.east_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.east_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.east_value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.east_value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.south_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.south_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.south_value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.south_value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.west_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.west_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.west_value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.west_value)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
