﻿@model capstone_model.vertex

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>vertex</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bridge_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bridge_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.north_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.north_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.north_value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.north_value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.east_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.east_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.east_value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.east_value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.south_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.south_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.south_value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.south_value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.west_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.west_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.west_value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.west_value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
