﻿@model IEnumerable<capstone_model.vertex>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bridge_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.north_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.north_value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.east_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.east_value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.south_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.south_value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.west_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.west_value)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bridge_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.north_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.north_value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.east_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.east_value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.south_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.south_value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.west_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.west_value)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
