﻿@model capstone_model.AccessPoint

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AccessPoint</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vertex_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vertex_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mac_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mac_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mac_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mac_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mac_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mac_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mac_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mac_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mac_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mac_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mac_6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mac_6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mac_7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mac_7)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
