﻿@model capstone_model.AccessPoint

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AccessPoint</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vertex_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vertex_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mac_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mac_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mac_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mac_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mac_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mac_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mac_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mac_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mac_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mac_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mac_6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mac_6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mac_7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mac_7)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
