﻿@model IEnumerable<capstone_model.AccessPoint>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.vertex_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mac_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mac_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mac_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mac_4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mac_5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mac_6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mac_7)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vertex_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mac_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mac_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mac_3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mac_4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mac_5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mac_6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mac_7)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
