﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(document).ready(function () {
            // ellevation demo started
            $.getJSON("demo/elevation",
                function (json) {
                    var elevation = json["results"][0]["elevation"];
                    var latitude = json["results"][0]["location"]["lat"];
                    var longitude = json["results"][0]["location"]["lng"];

                    var el = $("#myDiv");
                    el.append("<p>Latitude: " + latitude + "</p>");
                    el.append("<p>Longitude: " + longitude + "</p>");
                    el.append("<p>Elevation: " + elevation + "</p>");

                }
            );
            // elevation demo ended
            // trilateration demo started
            $.getJSON("demo/tril",
                function (json) {
                    var distance = json["Distance"];
                    var longitude = json["Longitude"];
                    var latitude = json["Latitude"];

                    var el1 = $("#myTril");
                    el1.append("<p>Latitude: " + latitude + "</p>");
                    el1.append("<p>Longitude: " + longitude + "</p>");
                    el1.append("<p>Distance: " + distance + "</p>");

                    el1.append(json);
                }
            );
            // trilateration demo ended

            // ellevation with passing an object demo started
            var obj = { Latitude: 39.7391536, Longitude: -104.9847034 };

            $.getJSON("http://localhost:2008/tril/elevation/", obj, function (json) {
                var elevation = json["results"][0]["elevation"];
                var latitude = json["results"][0]["location"]["lat"];
                var longitude = json["results"][0]["location"]["lng"];

                var el2 = $("#elevation");
                el2.append("<p>Latitude: " + latitude + "</p>");
                el2.append("<p>Longitude: " + longitude + "</p>");
                el2.append("<p>Elevation: " + elevation + "</p>");
            });
            // ellevation with passing an object demo ended

            // ellevation with passing an object demo started
            var obj = [{ Latitude : 37.418436, Longitude : -121.963477, Distance : 0.265710701754 },
                { Latitude : 37.417243, Longitude : -121.961889, Distance : 0.234592423446 },
                { Latitude : 37.418692, Longitude : -121.960194, Distance : 0.0548954278262 }];

            $.ajax({
                url: "http://localhost:2008/tril/",
                type: "POST",
                dataType: "json",
                data: obj ,
                success: function (json) {
                    var distance = json["Distance"];
                    var longitude = json["Longitude"];
                    var latitude = json["Latitude"];

                    var el3 = $("#tril");
                    el3.append("<p>Latitude: " + latitude + "</p>");
                    el3.append("<p>Longitude: " + longitude + "</p>");
                    el3.append("<p>Distance: " + distance + "</p>");
                }
            });
            // ellevation with passing an object demo ended
        });
    </script>

</head>
<body>
    <div id="myDiv">
        <h1>Elevation Demo</h1>
    </div>
    <div id="myTril">
        <h1>Trilateration Demo</h1>
    </div>
    <div id="elevation">
        <h1>Sending location to get elevation</h1>
    </div>
    <div id="tril">
        <h1>Trilateration with passing the parameters</h1>
    </div>
</body>
</html>
