﻿

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://d3js.org/d3.v5.js"></script>
    <script>
        function oop() {
            $.getJSON("map/brid",
                function (json) {
                    var mySvg = $($("#map")[0].contentDocument).find("svg")[0];
                    for (var i = 0; i < json.length - 1; i++) {
                        var id1 = "#" + json[i].toString();
                        var id2 = "#" + json[i + 1].toString();
                        console.log(id1 + "  " + id2);
                        var x1 = $($("#map")[0].contentDocument).find(id1)[0].attributes.cx.value;
                        var y1 = $($("#map")[0].contentDocument).find(id1)[0].attributes.cy.value;
                        var x2 = $($("#map")[0].contentDocument).find(id2)[0].attributes.cx.value;
                        var y2 = $($("#map")[0].contentDocument).find(id2)[0].attributes.cy.value;
                        d3.select(mySvg).append("line").attr("x1", x1).attr("x2", x2).attr("y1", y1).attr("y2", y2).style("stroke", "green");

                    }
                }
            );
        }
    </script>

</head>
<body>
    <div id="myDiv">
        <h1>Some</h1>
        <div class="row">
            <input id="create" type="button" class="btn btn-primary btn-lg" value="Create" onclick="oop()" />
        </div>
        <br />

        <!--<object id="map" data="~/Content/pp.svg" type="image/svg+xml" width="500" height="500" />-->
        <object id="map" data="~/Content/g_e_buildings.svg" type="image/svg+xml" width="900" height="1000" />
    </div>
    <div id="myTril">
        <h1>Trilateration Demo</h1>
    </div>
    <div id="elevation">
        <h1>Sending location to get elevation</h1>
    </div>
    <div id="tril">
        <h1>Trilateration with passing the parameters</h1>
    </div>
</body>
</html>



